@using _3DPrint.NET.Data;
<div class="status-bar">
    <div class="bar filled" style="width: @GetFilledPercentage()%"></div>
    <div class="bar empty" style="width: @GetEmptyPercentage()%"></div>
    <div class="status-bar-checkpoints">
        @foreach (var checkpoint in Checkpoints) {
            <div class="checkpoint">
                <div class="checkpoint-cirlce @GetCirlceClass(checkpoint)">
                </div>
                <p class="checkpoint-text">
                    @checkpoint.Name
                </p>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public ICollection<Checkpoint> Checkpoints { get; set; } = new List<Checkpoint>();

    private string GetCirlceClass(Checkpoint checkpoint) {
        return checkpoint.Status switch {
            CheckpointStatus.Checked => "checked",
            CheckpointStatus.Current => "current",
            CheckpointStatus.Unchecked => "unchecked",
            _ => ""
        };
    }

    private int GetFilledPercentage() {
        return Checkpoints.Count(x => x.Status == CheckpointStatus.Checked) * 100 / (Checkpoints.Count - 1);
    }
    private int GetEmptyPercentage() {
        return 100 - GetFilledPercentage();
    }
}
