@using _3DPrint.NET.Extensions;

<table>
    <tbody>
        <tr>
            <td>
                Hello
            </td>
            <td>
                World
            </td>
        </tr>
    </tbody>
</table>

@code {
}